*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
   line-height: 5rem;  /* line-height = height then content center*/
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    /* for images center when hover */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* to track curson opacity half when hover */
.choice:hover{
    /* opacity: 0.5; */
    /* cursor:progress; */
    cursor: pointer;
    /* background-color:#081b31; */
    background-color:white;
}
img{
    height: 150px;
    width: 150px;
     object-fit: cover; /*for image looking good */
      border-radius: 50%; /* border-radius 50% for circle*/
}
/* display flex for same line all images */
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem ;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;    
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top:5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    /* diaplay inline means backgorund not whole line only where text */
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}
body{
    background-color: #D5ED9F;
}
.back{
    background-color: #EB8317;
    height: 500px;
    width: 600px;
    /* display: inline; */
    /* display: flex; */
    margin-left: 400px;
    /* align-items: center; */
    /* justify-content: center; */
    border: 10px solid white;
    border-radius: 50px;
    padding-bottom: 80px;
    margin-top: 10px;
}
.score{
    background-color: pink;
    height: 120px;
    width: 120px;
    border:10px;
    border-radius: 20px;
    border:  5px solid white;
}
#heading{
    /* background-color: #081b31; */
    background-color: #071952;
    color: #fff;
    /* color: #FF7F3E; */
    font-size: 2rem;
    /* diaplay inline means backgorund not whole line only where text */
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}
#heading-container{
    padding-top: 20px;
}
